.doc-none {
    display: none;
}

.doc-switch {
    display: block;
}

.docdet-cert {
    display: none;
}

.sa-dialog{
      display: none;
  }

.doc-flex{
  display: flex;
}

.doc-padding{
  padding: 0 120px;
}

.pointer{
  cursor: pointer;
}

.doc-banner-container{
  background-color: var(--color-bg);
}

.docinfo-container{
  background-color: #f4fcff;
  flex-direction: column;
  height: 55px;
  justify-content: center;
}

.docinfo-container2{
  background-color: #FFFFFF;
  flex-direction: column;
  height: 85px;
  justify-content: center;
}

.header1{
  flex-direction: row;
  justify-content: space-between;
}

.doc-det{
  align-items: center;
}

.docinfo-container > .header1 > .doc-det > p{
  margin-left: 12px;
  color: #243949;
  font-size: 15px;
}

.docdet-container p{
  color: #86909D;
  font-size: 14px;
  padding: 0 35px 0 20px;
}

.vertical-line{
  border-left: 2px solid #E0E0E0;
  height: 28px;
}

.docdet{
  align-items: center;
  margin-right: 35px;
}

.docname-container{
  font-family: 'Anton', sans-serif;
  align-items: center;
}

.docname-container > p{
  color: #E41E51;
  font-size: 30px;
}

.docname-container > p:nth-child(2){
  display: none;
}

.apnt-btn{
  border-color: transparent;
  border-radius: 20px;
  border-radius: 20px;
  background-color: #E41E51;
  height: 45px;
  width: 150px;
  color: #ffff;
  letter-spacing: 1px;
}

.docdet-mob{
  display: none;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.nav-container p{
  position: relative;
  z-index: 1;
  font-weight: 500;
  font-size: 14px;
  color: white;
}

.nav-itm-container{
  position: relative;
  display: flex;
  padding: 35px 0;
}

.nav-itm-container > img{
  width: 17px;
  height: 18px;
  position: relative;
  bottom: -4px;
  left: 4px;
}

.drp-dwn-container{
  position: absolute;
  width: 250px;
  top: 95px;
  z-index: 1;
}

.drp-dwn-container > ul{
  list-style: none;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
}

.drp-dwn-container > ul > li{
  font-size: 14px;
  padding: 10px;
  color: white;
}

.drp-dwn-container > ul > li:hover{
  background-color: #c9a046;
}

.underline-anim:after{
  content: "";
  width: 0;
  display: block;
  height: 1.5px;
  background-color: white;
  transition: width 0.3s ease-in;
  position: absolute;
  bottom: -2px;
  left: 0;
}

.underline-anim:hover:after{
  width: 100%;
}

.banner-container > picture > img{
  /* height:400px; */
  width:100%;
}

.banner-container > h1{
  position: absolute;
  color: #ffffff;
  top: 45%;
  font-size: 50px;
  max-width: 49%;
  left: 30px;
}

.logo{
  position: absolute;
  top: -8px;
  left: 23px;
  width: 110px;
  height: 110px;
}

