.baba-svc-container{
    padding: 100px 120px;
}

.baba-svc-container > h2{
    justify-content: center;
    color: var(--color-dark-gold);
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 50px;
}

/* .baba-svc-container{
    background-color: #e7e7e7;
    padding-bottom: 105px;
} */

.card{
    box-shadow: 0 0px 10px 0 rgba(0,0,0,.1);
    padding: 40px;
    border-radius: 10px;
    max-width: 30%;
    gap: 30px;
    border: none;
}

.card > img{
    width: 55px;
    height: 55px;
}

.svc-cntnt > h4{
    color: white;
    padding-bottom: 25px;
}

.svc-cntnt > p{
    color: white;
    line-height: 23px;
}

.cards-container{
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.cards-container > .card:nth-child(odd) {
    background-color: var(--color-bg);
}  

.cards-container > .card:nth-child(even){
    background-color: #504324;
}